{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form action="{% url "register" %}" method="post">
                    {% csrf_token %}
                    {% comment %} {{form.as_p}} {% endcomment %}
                    
                    <div class="form-group">
                    {% render_field form.username class="form-control" placeholder="Придумайте имя пользователя" type="text" %}</div>
                    <div class="form-group">
                        {% render_field form.email class="form-control" placeholder="Напишите свой email" type="text" %}</div>
                    <div class="form-group">
                        {% render_field form.password1 class="form-control" placeholder="Придумайте пароль" type="text" %}</div>
                    <div class="form-group">
                        {% render_field form.password2 class="form-control" placeholder="Повторите пароль" type="text" %}</div>
                    <input type="submit" value="Создать пользователя">
                </form>
            </div>
        </div>
    </div>

{% endblock %}