{% extends 'base.html' %}
{% block style %}

<fieldset disabled>
    <div class="row disabled">
        <div class="col col-8">
            Название: <input type="text" value="Hello world" class="form-control">
        </div>
        <div class="col col-4">
            Дата создания:<input type="text" value="23.11.2020" class="form-control">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                <p>
                    <ul><b>Общие данные</b><li><b>id: </b>{{snip.id}}</li><li><b>lang: </b>{{snip.lang}}</li><li><b>code: </b>{{snip.code}}</li></ul>
                </p>
 
            </div>
 
        </div>
    </div>
 </fieldset>

 {% endblock %}

