{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% if type == 'view' %}
    <div class="row">
        <div class="col-6">
            Название: <input type="text" value="{{snip.name}}" class="form-control">
        </div>
        <div class="col-4">
            Дата создания:<input type="text" value="{{snip.creation_date | date:"Y-m-d"}}" class="form-control">
        </div>
    </div><hr>
    <div class="row">
        <div class="col">
            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                <p>
                    {{snip.code}}
                </p>
            </div>
        </div>
    </div>
    {% comment %} <fieldset></fieldset> {% endcomment %}
    <br>
    <div class='col-6 p-3'>
    <table border=1>
        <tr>
            <th>Автор</th>
            <th>Комментарий</th>
        </tr>
        {% for comment in snippet.comments.all %}
        <tr>
            <td>{{comment.author.username}}</td>
            <td>{{comment.text}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if request.user.is_authenticated %}
    <form action="{% url "comments_add" %}" method='POST'>
        {% csrf_token %}
        {{ comments_form }}
        <input name='snippet_id' type="hidden" value={{ snippet.id }}><br>
        <button style='background-color: #2F4F4F;' type='submit'>Добавить комментарий</button>
    </form>
    </div>
    {% endif %}
    {% else %}
    <form action="" method='post'>
        {% csrf_token %}
    <div class="row mx-5">
        <div class="col-3"><label>Название
            <input type="text" name='name' placeholder="введите" value="{{snip.name}}" class="form-control"></label>
        </div>
        <div class="col-4"><label>Дата создания
            <input name='creation_date' value="{{snip.creation_date | date:"Y-m-d"}}" class="form-control"></label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="p-2 h-100 mx-5" style="border:1px solid #ced4da; border-radius:5px;">
                <label for="code">Строка для кода &nbsp;&nbsp;</label><textarea id='code' name='code'>
                    {{snip.code}}
                </textarea>
            </div>
        </div>
    </div>
    
    <hr>
    <div class="row">
        <div class="col">
            <div class="p-2 h-100 mx-5" style="border:1px solid #ced4da; border-radius:5px;">
                <label>Публичный/приватный <input type='checkbox' id='code' name='public' value='True'></label>
                {% if snip.public %}checked{% endif %}
            </div>
        </div>
    </div>
    <button type='submit' class='btn btn-primary btn-block col-6 mx-5'>Обновить</button>
    </form>
    {% endif %}
 {% endblock %}


