{% extends 'base.html' %}
{% block style %}



<!-- Begin page content -->
<main role="main" class="mt-3 flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Удаление</th>
                        <th scope="col">Редактирование</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for i in snps %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td><a href="{% url 'sp_val' i.id %}">{{i.name}}</a>
                        <a href="{% url 'sp_del' i.id %}"><i class="fa-solid fa-trash" style="color: #102851;"></i></a>
                        <a href="{% url 'sp_edit' i.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                        <td>{{i.creation_date | date:"Y-m-d H:i:s"}}</td>
                        <td>
                            <form action='{% url "sp_del" i.id %}' method='post'>
                                {% csrf_token %}
                                <button type='submit' class='btn btn-danger'>Delete</button>
                            </form>
                        </td>
                        <td>
                            <form action='{% url "sp_edit" i.id %}' method='post'>
                                {% csrf_token %}
                            <input type="submit" class="btn btn-primary btn-block" value="Изменить"/>
                            </form>
                        </td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{snps|length}}</i>
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock %}
